---
layout: default
---
        <!-- Blog Post -->
        <section id="arcade-macro-board">
          <div class="page-header">
            <h1><a href="">{{ page.title }}</a></h1>
          </div>
          <p class="lead">Posted on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>{% if page.twitter %} - <a href="{{ page.twitter }}">Discuss on Twitter</a>{% endif %}{% if page.github %} - <a href="{{ page.github }}">See project on Github</a>{% endif %}<br>
          Tags: {% for tag in page.tags %}<a href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
          {{ content }}
          <hr>
        </section>
        <!-- /Blog Post -->